certifi==2020.12.5
chardet==4.0.0
click==7.1.2
comtypes==1.1.9
gTTS==2.2.2
idna==2.10
numpy==1.19.3
pandas==1.1.4
Pillow==8.2.0
playsound==1.2.2
pyfiglet==0.8.post1
pypiwin32==223
python-dateutil==2.8.1
pyttsx3==2.90
pytz==2020.4
pywin32==300
requests==2.25.1
six==1.15.0
urllib3==1.26.4
